configDir               /etc/nntpcache/
configFile              nntpcache.config
serversFile             nntpcache.servers
accessFile              nntpcache.access
cacheDir                /var/cache/nntpcache
adminEmail              admin@mynewsclues.com
umask                   022
niceMaster              0
niceClient              10
niceHTTP                2
niceUpdate              5
niceNoCem               15
niceExpire              15
chrootDir               /usr/local/nntpcache_root
chroot                  off
overviewFmtInternal     Subject: From: Date: Message-ID: References: Bytes: Lines: Xref:full
overviewFmtBozo         Subject: From: Date: Message-ID: References: Bytes: Lines:
minActive               3000
maxMsgIDsearch          2
maxReaders              100
safeGroup               .abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_-+=':
groupSecurity           on
listSecurity            on
listPermitLonelyness    no
listActiveThreshold     2
contentFilters          on
xoverFilters            on
nocem                   on
nocemInitialScan        8192
nocemInterval           3m
nocemGroups             news.lists.filters
nocemCache              true
nocemFrom               .
nocemType               spam|spew|MMF
nocemAction             hide
nocemPGP                no
nocemPGPbegin           -----BEGIN PGP SIGNED MESSAGE-----
nocemPGPend             -----END PGP SIGNATURE-----
nocemPGPcommand         pgp -f +batchmode >/dev/null 2>%s
nocemPGPgood            ^Good signature
nocemPGPPATH            /etc/nntpcache
relayUnknowns           no
user                    news
group                   news
Organization            MyNewsClues UseNet Service
replaceOrganization     no
# bindAddr                DEFAULT:119
bindAddr                127.0.0.1:2119
maxMmap                 256M
anonMmap                no
refreshMmap             yes
# Following 2 lines are confusing, they are based on maxpercents in code, not min.
minFilesFreePercent     90
minBlocksFreePercent    90
hisHighWater            300M
hisLowWater             250M
maxArtAge               30d
expireCheckPeriod       5m
overviewFmtTimeout      7d
rfc931                  no
rfc931Timeout           5
useLibWrap              no
taskInfoPrivacy         no
logInn                  yes
logFromClient           yes
logToClient             no
logFromServer           no
logToServer             yes
# logListMerge          yes
# logListMergeCorrelation       yes
logListMerge            no
logListMergeCorrelation no
logNocem                no
logDebug                no
logInfo                 yes
logWarnings             yes
logErrors               yes
statistics              yes
httpServer              yes
# httpBindAddr            DEFAULT:9119
httpBindAddr            127.0.0.1:9119
httpFiles               /etc/nntpcache/http
minUpdateDelay          10m
minUpdateRefusedDelay   24h
minUpdateFailDelay      10m
networkTimeout          2m
idleTimeout             15m
remoteIdleTimeout        5m
serverDownRecheck       15m
outputBufferSize	20k
maxXoverNodes		50
authinfoDefaultType     none
authinfoDefaultSource   passwd
pipeProgram             /usr/lib/news/bin/unixauth
pipeTimeout             20
pamModuleName           nntpcache
statsFile               nntpcache.stats
historyFile             cache.history
pidFile                 /var/run/nntpcache.pid
overviewFmtFile         overview.fmt
mmapFile                cache.mmap
mmapBaseFile            cache.base

